In [1]:

'''
Read an excel file from the same directory
Return a list of panda frames, each panda frame is a sheet of this excel file
'''
def read_uat_result(file_name='sample.xlsx'):
    import pandas as pd
    import os

    dir_path = os.path.dirname(os.path.realpath("__file__"))
    file_path = os.path.join(dir_path, file_name)
    
    xlsx = pd.ExcelFile(file_path)

    return [xlsx.parse(s) for s in xlsx.sheet_names]

In [4]:
sample2_file = read_uat_result('sample2.xlsx')
num_of_sheets = len(sample2_file)
num_of_sheets

3

In [5]:
sheet1 = sample2_file[0]
sheet1[:5]

,Case Number,Page Number,AUDIO,VISION,LAB,IMAGING,PSYCHOLOGICAL,MISC,NOTE
0,1234156.1,3,PASS,NaN,NaN,NaN,NaN,NaN,NaN
1,1234156.1,4,NaN,NFAIL,NaN,NaN,NaN,NaN,NaN
2,1234156.1,5,NaN,NaN,MFAIL,NaN,NaN,NaN,NaN
3,1234156.1,6,NaN,NaN,NaN,MFAIL,NaN,NaN,NaN
4,1234156.1,7,NaN,NaN,NaN,NaN,NFAIL,NaN,NaN

In [6]:
sheet1['AUDIO']

0      PASS
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7     MFAIL
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
Name: AUDIO, dtype: object